
 #topbar {
   width: 1000px;
   margin: 0 auto;
   height: 100px;
   padding-bottom: 47px;
   background-color: #009f9b
;
   }
#jumbotron {
   width: 100%;
   margin: 0 auto;
   height: 150px;
   padding-bottom: 47px;
   background-color: #009f9b
;
   text-align: center;
   }          
body {                
   margin: 0;
   padding: 0;
   font-family: Helvetica,Arial,sans-serif;
   background-color: #B0B0B0
;
   }